

body {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-image: url("dataimage.webp");
background-color: #cccccc;
}

ul { /* Unordered lists in the body */
	list-style-type: none;
}  


.box {
  height: 500px;
}    
img {
  float: left;
  padding-right:10px
}    


article {
    color:snow;
}


h {
    color:snow;
position: relative;
  left: 10px;
}

div {  
  position: relative;
  padding-left: 20px;
  padding-right:100px

    color:snow;
}


body {
    color:snow;
}


p {
    color:snow;
    padding-right:20px;
}


a {
    color:snow;
}


div.relative {
  position: relative;
  left: 50px;
  top: 200px;
    color:snow;
}    

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition-timing-function: ease-out;
  transition-delay:0.2s;
}
