

body {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-image: url("Superconductivity.jpg");
background-color: #cccccc;
}

ul { /* Unordered lists in the body */
	list-style-type: none;
}  


.box {
  height: 500px;
}    
img {
  float: left;
}    


img {
  float: left;
}    
    
article {
    color:snow;
}


h {
    color:snow;
position: relative;
  left: 10px;
}

div {  
  position: relative;
  left: 20px;

    color:snow;
}


body {
    color:snow;
}


p {
    color:snow;
}


a {
    color:snow;
}


div.relative {
  position: relative;
  left: 50px;
  top: 200px;
    color:snow;
}    
